wibble.tar.gz
stamp-h1
missing
ltmain.sh
libtool
install-sh
depcomp
configure
config.sub
config.status
config.log
config.h.in~
config.h.in
config.h
config.guess
autoscan.log
autom4te.cache
aclocal.m4
Makefile.in
Makefile
/wibble
/meteo-vm2f.pc
/meteo-vm2/meteo-vm2-test
/meteo-vm2.pc
/doc/doxygen
/doc/Doxygen.stamp
/doc/Doxygen
/default.luac
.libs
.deps
*.o
*.lo
*.la
